.body{
    background-image: url(../images/imagen\ medicamentos.jpg);
    background-size: contain;
    @extend %flexColum;
    justify-content: space-between;
}
.section{
    color: rgb(255, 255, 255);
    @extend %flexColum;
    justify-content: space-evenly;
    height: 200px;
    text-align: center;
    font-size: 16px;
}
.slogan{
    background-color: $colorFondoCelular;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.accede{
    background-color: $colorFondoNaranja;
    border-radius: 05px;
    padding: 08px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.form{
    margin-bottom: 10px;
}
.card{
    margin-top: 15px;
    width: 200px;
    height: 300px;
    margin-bottom: 10px;
}
.card-body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
}
.logos{
height: 190px;
}
.siglas{
    height: 80px;
}
@media screen and (max-width:480px){
    .body{
        background-color: $colorFondoCelular;
        background-image: none;
        height: 100vh;
        width: 300px;
    }
    .header{
        font-size: 11px;
        text-decoration: none;
    }
    .linksHeader{
        width: fit-content;
    }
    .tituloSitio{
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
        text-decoration: none;
    }
    .logoImagen{
        width: 300px;
        height: 200px;
    }
    .section{
        font-size: 10px;
        text-align: justify;
        margin-left: 15px;
        margin-right: 15px;
    }
    .footer{
        align-items: center;
        font-size: 10px;
    }
}
