.footer{
    color: rgb(98, 96, 96);
    @extend %flexColum;
    background-color: $colorFondoFooter;
}
h5{
    font-size: 16px;
    align-items: flex-start;
}
.fotred{
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.listaRedes{
    list-style-type: none;
    display: inline-block;
    display: flex;
    justify-content: center;
}
.redes{
    width: 40px;
    height: 40px;
}

    