.formulariocontacto{
    color: rgb(255, 255, 255);
}
.texto{
    @extend %flexColum;
}
.completar{
    width: 600px;
}
.botoncontacto{
    width: 100px;
}
#comentarios{
    width: 600px;
    height: 300px;
}