* {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
header{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
    font-size: 15px;

}
    .tituloSitio{
        margin: top 15px;
        display: flex;
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
    }  
    .cruz{
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: flex-start;
        animation-name: cruz;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    @keyframes cruz{
        0%{
           transform: rotate(0deg); 
        }
        20%{
            transform: rotate(90deg)
        }
        50%{
            transform: rotate(180deg)
        }
        75%{
            transform: rotate(270deg)
        }
        100%{
            transform: rotate(360deg)
        }
    }
    .linksHeader{
        border-radius: 10px;
        width: 600px;
        margin-top: 20px;
        color: #000;
        font-weight: bold;
    }
    .logoImagen{
        border-radius: 05px;
        border: 05px solid;
        border-top: 05px solid coral;
        border-bottom: 05px solid rgb(232, 232, 84);
        border-right: 05px solid rgb(46, 36, 224);
        border-left: 05px solid rgb(63, 172, 63);
        width: 600px;
        height: 400px;
    }
