$coloresImagen: (
        border-top: 05px solid coral;
        border-bottom: 05px solid rgb(232, 232, 84),
        border-right: 05px solid rgb(46, 36, 224),
        border-left: 05px solid rgb(63, 172, 63),
)
