/*con el asterisco hago que todos los elementos raiz de mi pagina sigan esta configuiracion. Con esta configuracion hago que los margenes de mi sitio se unifiquen para todos los navegadores*/
/*puedo hacerlo con asterisco o con body*//*tambien podemos estableces tipografia o lo que necesitemos que todo el archivo respete*/
* {
margin: 0;
padding: 0;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: url(../images/imagen\ medicamentos.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}
header{
    color: white;
    margin: 0;
}
.tituloSitio{
    font-size: 30px;
    margin: 0;
    text-align: center;
    text-decoration: underline;
    line-height: 40px;
} /*las clases van sin espacios y se llaman con un punto al principio*/
.logoImagen{
    border-radius: 05px;
    border: 05px solid;
    border-top: 05px solid coral;
    border-bottom: 05px solid rgb(232, 232, 84);
    border-right: 05px solid rgb(11, 11, 245);
    border-left: 05px solid rgb(63, 172, 63);
    margin-left: 370px;
}

h2{
    text-align: justify;
}
nav ul{
 list-style-type: none;
 display: inline-block;
 background-color: rgb(248, 249, 253);
 text-align: center;
 font-size: 17px;
 margin-left: 370px;
 margin-top: 0;
 font-weight: bold;
 width: 610px;
 border-radius: 05px 
}
.lis{
    display: inline-block; 
}
.lista{
    display: inline-block; 
    margin: 12px 12px 10px 12px;
    color: rgb(107, 230, 249);
    cursor: pointer; 
    /*con el cursor, hafgo que aparezca una manito cuando pasa por encima de los elementos a*/
}
section{
    color: white;
    width: 960px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 100px;

}
.accede{
    background-color: rgb(217, 173, 90);
    border-radius: 05px;
    padding: 08px;
}
article{
    color: white;
    width: 960px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: left;
    font-size: 15px;
    margin-bottom: 100px;
}
.tablas{
    list-style-type: none;
    font-size: 30px;
    border-radius: 10px;
    border-color: rgb(217, 173, 90);
    border: 10px solid;
    color: rgb(103, 100, 100);
    background-color:rgb(217, 173, 90);
}
.formTitulo{
    color: white;
    margin-left: 10px;
}
form{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    justify-content: space-around;
}
footer{
    color: rgb(103, 100, 100);
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 130px;
}